<mat-card class="container">
  <div class="row">
    <div class="col">
      <mat-card-header>
        <mat-card-title> ROUTE SALES ORDER </mat-card-title>
      </mat-card-header>
    </div>

    <div class="col">
      <mat-card-header>
        <button (mouseover)="showName('RouteOrder')" (mouseout)="hideName()" mat-mini-fab type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="addRouteOrder()">
          <mat-icon *ngIf="!isHovered|| (isHovered && hoveredButton != 'RouteOrder')">playlist_add</mat-icon>
          <div class="icon_name" *ngIf="isHovered && hoveredButton === 'RouteOrder'">Add</div>
        </button>

        <!-- <button (mouseover)="showName('PR')" (mouseout)="hideName()" mat-mini-fab type="button" style="margin-left: 10px;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto">
          <mat-icon *ngIf="!isHovered|| (isHovered && hoveredButton != 'PR')">request_quote</mat-icon>
          <div class="icon_name" *ngIf="isHovered && hoveredButton === 'PR'">PR</div>
        </button> -->
        <!-- <div *ngIf="isHovered">Add Purchase Request</div> -->

        <button (mouseover)="showName('Back')" (mouseout)="hideName()" mat-mini-fab color="primary" type="button" style="margin-left: 10px;"  aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
          <mat-icon *ngIf="!isHovered || (isHovered && hoveredButton != 'Back')">exit_to_app</mat-icon>
          <div class="icon_name" *ngIf="isHovered && hoveredButton === 'Back'">Back</div>
        </button>
      </mat-card-header>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Orders">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>

      <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Route</th>
                <th>Customer</th>
                <th>User</th>
                <th>Date</th>
                <th>Expecte Date</th>
                <th>Status</th>
                <th>Manage</th>
                <th>Sales Entry</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of filtered">
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.id}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.route.routeName}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.customer.name}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.pickSalesExecutive.name}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.date | date: 'dd/MM/yyyy'}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.deliveryDate | date: 'dd/MM/yyyy'}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">{{element.status}}</td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">
                  <mat-icon (click)="viewRouteOrderDetails(element.id)">open_in_new</mat-icon>
                  <mat-icon (click)="editRouteOrder(element.id)" >edit</mat-icon>
                  <mat-icon (click)="deleteRouteOrder(element.id)">delete</mat-icon>
                </td>
                <td [style.background-color]="element.status.toLowerCase()== 'invoiceissued' ? 'pink' : null">
                  <mat-icon *ngIf="element.status.toLowerCase() != 'invoiceissued'" (click)="generateRSE(element.id)">receipt_long</mat-icon>
                </td>
            </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Invoice Issued">

    </mat-tab>
  </mat-tab-group>
</mat-card>

