<!-- <mat-toolbar style="background-color:rgb(33,142,67);; color: white; height: 40px;">
  PRODUCT CATEGORY
</mat-toolbar> -->

<form [formGroup]="productCategoryForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <div class="row" *ngIf="addStatus != 'true'">
      <div class="col">
        <mat-card-header>
          <mat-card-title> PRODUCT CATEGORY</mat-card-title>
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="homeClick()">
            <mat-icon>home</mat-icon>
          </button>
          &nbsp;<button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onClick="history.back()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-card-header>
      </div>
    </div>

    <div class="row box">
      <div class="col">
        <mat-card-content >

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="categoryName">
                <mat-error *ngIf="productCategoryForm.controls['categoryName'].hasError('required')">
                  Name <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <br><br><div class="col">
            <section class="example-section" >
              <mat-radio-group class="example-radio-group" aria-label="Taxable:" formControlName="taxable"><h4>Taxable :</h4>
                <mat-radio-button class="example-radio-button" value="true">Yes</mat-radio-button><br>
                <mat-radio-button class="example-radio-button" value="false">No</mat-radio-button>
              </mat-radio-group>
            </section>
          </div>

          <div formArrayName="subCategories" class="col">
            <div *ngFor="let quantity of subCategories().controls; let i=index" [formGroupName]="i" class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Qualification" formControlName="qualification">
                </mat-form-field>
              </div>
              <button mat-icon-button (click)="removeSubCategory(i)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            SubCategory
            <!-- <button mat-raised-button type="button" (click)="addSubCategory()" style="background-color: rgb(56, 151, 86);"> -->
              <mat-icon style="color: rgb(56, 151, 86);">playlist_add</mat-icon>
            <!-- </button> -->
          </div>
        </mat-card-content>
      </div>
      <div class="col">
        <mat-card-content>
          <ng-container *ngIf="imageUrl; else noImage">
            <img [src]="imageUrl" alt="Image" title="Image" height="150" width="150" style="margin-left: 150px; margin-top: 50px;"/>
          </ng-container>

          <ng-template #noImage>
            <img src="../../../../../../assets/img/no_image_part.png" alt="Alternative Image" title="Image" height="150" width="150" style="margin-left: 150px; margin-top: 50px;"/>
          </ng-template>
          <input type="file" id="fileInput" (change)="onFileSelected($event)" style="margin-left: 150px;" />
        </mat-card-content>
      </div>
    </div>

    <mat-card-actions>
      <button *ngIf="isEdit == false" mat-raised-button  type="submit" [disabled]="productCategoryForm.pristine || !productCategoryForm.valid ">
        <mat-icon style="font-size: 25px;">save</mat-icon>
      </button>&nbsp;&nbsp;
      <button *ngIf="isEdit == true" mat-raised-button  type="button" [disabled]="!productCategoryForm.valid" (click)="editFunction()">
        <mat-icon style="font-size: 30px;">edit_note</mat-icon>
      </button>&nbsp;&nbsp;

      <button *ngIf="addStatus === 'true'" type="button" class="cancel-button" (click)="onCancelClick()">
        <mat-icon style="font-size: 25px;">cancel_presentation</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- ------------------------------------------------------------------------------------------------- -->
<br><mat-card *ngIf="addStatus != 'true'">
  <mat-card-header>
    <mat-card-title style="color: green;"> PRODUCT CATEGORY</mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="filterValue"  (ngModelChange)="onInputChange($event)" placeholder="Ex. ium">
  </mat-form-field>
  &nbsp;&nbsp;
  <button mat-raised-button (click)="search()" >
    Search
  </button>
  <table class="styled-table">
    <thead>
        <tr>
            <th>id</th>
            <th>Image Uploaded</th>
            <th>Category</th>
            <th>Taxable</th>
            <th>Manage</th>
            <!-- <th>vendor Name</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of category">
            <td>{{element.id}}</td>

            <!-- <td *ngIf="element.category_image; else noImage">
              <div class="image-container">
                <div class="popup" *ngIf="showImagePopup">
                  <img [src]="element.category_image" alt="Category Image">
                </div>
                <img class="imageView" [src]="element.category_image" alt="Category Image" (mouseenter)="showPopup()" (mouseleave)="hidePopup()">
              </div>
            </td> -->
            <td >
              <!-- <ng-container>
                <img alt="../../../../../../assets/img/partsbase.png" src="{{ element.file_url }}" style="width: 50px; height: 50px;" />
              </ng-container> -->
              <ng-container *ngIf="element.file_url; else alternativeImage">
                <img  src="{{ element.file_url }}" style="width: 50px; height: 50px;" />
              </ng-container>

              <ng-template #alternativeImage>
                <img src="../../../../../../assets/img/no_image_part.png" alt="Alternative Image" style="width: 50px; height: 50px;" />
              </ng-template>
            </td>

            <!-- <ng-template #noImage>
              <td><span class="material-icons iconColor">image_not_supported</span></td>
            </ng-template> -->
            <td>{{element.categoryName}}</td>
            <td>{{element.taxable == true? "Yes" : "No"}}</td>
            <td>
                <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
              <i  (click)="editCategory(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
              &nbsp;&nbsp;
              <i  (click)="deleteCategory(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
            </td>
        </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1" (page)="onPageChange($event)"
    [pageSizeOptions]="[10, 20,30,40,50,100]">
  </mat-paginator>
 </mat-card>
