<mat-card>
  <div class="row">
    <div class="col">
      <mat-card-header>
        <mat-card-title> PURCHASE ENTRY </mat-card-title>
      </mat-card-header>
    </div>

    <div class="col">
      <mat-card-header>
        <button (mouseover)="showName('PE')" (mouseout)="hideName()" mat-mini-fab type="button"
        style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="addPE()">
          <mat-icon *ngIf="!isHovered|| (isHovered && hoveredButton != 'PE')">playlist_add_circle</mat-icon>
          <div class="icon_name" *ngIf="isHovered && hoveredButton === 'PE'">PE</div>
        </button>
        <!-- <div *ngIf="isHovered">Add Purchase Request</div> -->

        <button (mouseover)="showName('Back')" (mouseout)="hideName()" mat-mini-fab color="primary" type="button" style="margin-left: 10px;"  aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
          <mat-icon *ngIf="!isHovered || (isHovered && hoveredButton != 'Back')">exit_to_app</mat-icon>
          <div class="icon_name" *ngIf="isHovered && hoveredButton === 'Back'">Back</div>
        </button>
      </mat-card-header>
    </div>
  </div>

  <mat-stepper linear #stepper>
    <mat-step label="Advance Issued" optional>
      <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Distributor</th>
                <th>Amount</th>
                <th>updated Date</th>
                <th>ChequeNo</th>
                <th>Cheque Issued</th>
                <th>Purchase Entry</th>
                <th>Delete</th>
                <th>Others</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of advancedPe">
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.id}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.distributor.distributorName}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.purchaseAmount}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.updatedDate| date: 'dd/MM/yyyy'}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <a let *ngFor="let cheque of element.entryCheques">
                    <p *ngIf="cheque.type === 'advance'">{{cheque.chequeNo}}</p>
                  </a>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <mat-slide-toggle (change)="onToggleChange(element.id)"></mat-slide-toggle>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="addPurchaseEntry(element.id)">post_add</span>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="deletePurchaseEntry(element.id)">delete</span>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateTS(element.id)">local_shipping</span>
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateCommision(element.id)">price_change</span>
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateUS(element.id)">emoji_people</span>
                </td>
            </tr>
        </tbody>
      </table>
    </mat-step>

    <mat-step label="Slip Issued" optional>
      <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Purchase Invoice</th>
                <th>Distributor</th>
                <th>Amount</th>
                <th>Updated Date</th>
                <th>Cheque Issued</th>
                <th>Purchase Entry</th>
                <th>Delete</th>
                <th>Others</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of pendingPeSlip">
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.id}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.purchaseInvoiceNo}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.distributor.distributorName}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.purchaseAmount}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.updatedDate| date: 'dd/MM/yyyy'}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <mat-slide-toggle (change)="onToggleChange(element.id)"></mat-slide-toggle>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="addPurchaseEntry(element.id)">post_add</span>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="deletePurchaseEntry(element.id)">delete</span>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateTS(element.id)">local_shipping</span>
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateCommision(element.id)">price_change</span>
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateUS(element.id)">emoji_people</span>
                </td>
            </tr>
        </tbody>
      </table>
    </mat-step>

    <mat-step label="Cheque Issued" optional>
      <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Purchase Invoice</th>
                <th>Distributor</th>
                <th>Amount</th>
                <th>Updated Date</th>
                <th>Cheque No</th>
                <th>Cheque Issued Date</th>
                <th>Purchase Entry</th>
                <th>Delete</th>
                <th>Others</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of pendingPeCheque">
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.id}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.purchaseInvoiceNo}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.distributor.distributorName}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.purchaseAmount}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">{{element.updatedDate| date: 'dd/MM/yyyy'}}</td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <a let *ngFor="let cheque of element.entryCheques">
                    <p *ngIf="cheque.type === 'purchase'">{{cheque.chequeNo}}</p>
                  </a>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null"><a let *ngFor="let cheque of element.entryCheques">
                  <p *ngIf="cheque.type === 'purchase'">{{cheque.chequeIssuedDate | date:'dd/MM/yyyy'}}</p>
                </a></td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="addPurchaseEntry(element.id)">post_add</span>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="deletePurchaseEntry(element.id)">delete</span>
                </td>
                <td [style.background-color]="element.entryStatus == 'pending' ? 'gray' : null">
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateTS(element.id)">local_shipping</span>
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateCommision(element.id)">price_change</span>
                  <span class="material-icons" style="margin-left: 8px;" (click)="generateUS(element.id)">emoji_people</span>
                </td>
            </tr>
        </tbody>
      </table>
    </mat-step>

  </mat-stepper>
  </mat-card>

