<!-- <mat-toolbar class="bg-green-900">
    <p style="color:white"> ADD TEAM</p>
    <button mat-mini-fab color="primary" type="button" style="margin-left: auto;"
      aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar> -->

  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <mat-card class="background">
      <!-- <div class="row" *ngIf="addStatus != 'true'"> -->
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title> TEAM</mat-card-title>
            </mat-card-header>
          </div>
          <div class="col">
            <mat-card-header>
              <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon"
              class="d-block mr-0 ml-auto" onClick="history.back()" style="margin-left: auto;">
                <mat-icon>exit_to_app</mat-icon>
              </button>
            </mat-card-header>
          </div>
        </div>
        
      <mat-card-content >

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Team name" formControlName="teamName">
              <mat-error *ngIf="teamForm.controls['teamName'].hasError('required')">
                Name <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col">
            <mat-form-field class="full-width">
            <mat-label>Team lead</mat-label>
              <mat-select placeholder="Team lead" formControlName="userId">
                &nbsp;&nbsp; &nbsp;&nbsp;<span class="material-icons" style="font-size: 30px; color: rgb(30,58,138);" (click)="manageUser()" >playlist_add</span>
                <mat-option *ngFor="let item of users | async" [value]="item.id">
                  {{item.name}}
                </mat-option>
               </mat-select>
               <mat-error *ngIf="poForm.controls['preparedBy'].hasError('required')">
                preparedBy is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div> -->
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Members</mat-label>
              <mat-select formControlName="teamMembers" multiple>
                <!-- <mat-option (click)="addNewApplication()" class="custom-option">Add New</mat-option> -->
                <mat-option *ngFor="let item of users | async" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="partForm.controls['applications'].hasError('required')">
                Application is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="!isEdit" mat-raised-button color="primary" type="submit" [disabled]="!teamForm.valid">ADD</button>&nbsp;&nbsp;
       <button *ngIf="isEdit" color="primary"   mat-raised-button type="button" [disabled]="!teamForm.valid" (click)="edit()">UPDATE</button>&nbsp;&nbsp;
       <!--   <button color="primary" mat-raised-button type="button" (click)="clear()">CLEAR</button>&nbsp;&nbsp; -->
        <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="onCancelClick()">
          <mat-icon>arrow_back</mat-icon>
        </button> -->
      </mat-card-actions>
    </mat-card>
  </form>




  <!----------------------------------ROLE  TABLE   STARTS------------------------------------------------------------>


  <table mat-table *ngIf="teams" [dataSource]="teams" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="teamName">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Name </th>
       <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
     </ng-container>
<!--
     <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Lead </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container> -->

      <ng-container  matColumnDef="teamMembers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Members </th>
        <td mat-cell *matCellDef="let element">
            <tr *ngFor="let data of element.teamMembers">
                {{data.register.name}}
            <mat-divider></mat-divider>
          </tr></td>

    </ng-container>

      <!-- <b>Application(s)</b>
      <mat-list *ngIf="part.partApplications">
        <ng-container *ngFor="let application of part.partApplications">
          <ng-container *ngIf="application.type=='Application'">
            <a><b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
              &nbsp;&nbsp; {{ application.application.application}}</a>
             <br>
          </ng-container>
        </ng-container>
      </mat-list> -->

     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Manage </th>
      <td mat-cell *matCellDef="let element">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <i (click)="editFunction(element.id)" class="fa fa-edit" style="font-size: 20px; color:green"></i>
        &nbsp;&nbsp;
        <i  (click)="deleteFunction(element.id)"  class="fa fa-trash" style="font-size: 20px; color:red"></i>
        <!-- <i  class="fa fa-edit" (click)="editFunction(element.id)" style="font-size: 16px; color:green"></i>
        &nbsp;&nbsp;
        <i class="fa fa-trash" (click)="deleteFunction(element.id)" style="font-size: 16px; color:rgb(151, 70, 70)"></i> -->


      </td>
    </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
  <!----------------------------------ROLE  TABLE   ENDS------------------------------------------------------------>

