<form [formGroup]="purchaseEntryForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title> PURCHASE ENTRY </mat-card-title>
        </mat-card-header>
      </div>

      <div class="col">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onclick="history.back()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-card-header>
      </div>
    </div>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Distributor" formControlName="distributorId">
              <mat-form-field class="search-field" style="width: 80%;">
                <div class="row">
                  <!-- <mat-icon>search</mat-icon> -->
                  <input matInput (input)="filterDistributor($event)" placeholder="Search">
                </div>
              </mat-form-field>
              <mat-option *ngFor="let item of filteredDistributor" [value]="item.id">
                {{item.distributorName}}
              </mat-option>
              <mat-option  *ngIf="filteredDistributor.length === 0">
                <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addDistributor()">playlist_add</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="purchaseEntryForm.controls['distributorId'].hasError('required')">
              User <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="PurchaseInvoice" formControlName="purchaseInvoice">
              <mat-error *ngIf="purchaseEntryForm.controls['purchaseInvoice'].hasError('required')">
                Invoice <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="PurchaseAmount" formControlName="purchaseAmount">
              <mat-error *ngIf="purchaseEntryForm.controls['purchaseAmount'].hasError('required')">
                field <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>



