
.combined-table {
  width: 100%;
  border-collapse: collapse;
}

.combined-table th, .combined-table td {
  padding: 8px;
}

.combined-table th {
  background-color: #f2f2f2;
}

.combined-table td {
  text-align: center;
}

.combined-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.combined-table tbody tr:hover {
  background-color: #ddd;
}

// JS REPORT

.invoice-box {
  max-width: 800px;
  // margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}
.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}
// .invoice-box table tr td:nth-child(2) {
//   text-align: right;
// }
.invoice-box table tr.top table td {
  padding-bottom: 20px;
}
.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}
.invoice-box table tr.information table td {
  padding-bottom: 40px;
}
.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.invoice-box table tr.details td {
  padding-bottom: 20px;
}
.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}
.invoice-box table tr.item.last td {
  border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
.right-colomn{
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
  }
  .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
  }
}

.print-button {
  background-color: grey; /* Blue background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Add padding to make it visually appealing */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:enabled {
  background-color :rgb(56, 151, 86);
  color : white
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
  width: 100%;
}

.col:last-child {
  margin-right: 0;
}

@media print{
  html, body{
    width: 800mm;
    height: 100%;
    position: absolute;
  }
}
