<form [formGroup]="loginForm" action="submit()">
<section class="login">
    <div class="container">
        <h1>Login Form</h1>
        <div class="lgn">
            <a href="#" id="login" class="hover_btn">Login</a>
            <a href="register" id="signup">SignUp</a>
        </div>
        <input type="text" formControlName="phoneNumber" id="email" placeholder="Phone Number">
        <input type="password" formControlName="password" id="pass" placeholder="Pasword">
        <div class="forget">
            <a href="#" id="fgpass">Forgot Password</a>
        </div>
        <a (click)="submit()" id="loginBtn" class="hover_btn">Login</a>
        <div class="sgnUp">
            <p id="member">Not A Member?</p>
            <a href="register" id="sgn_now">SignUp Now</a>
        </div>
    </div>
  </section>
</form>