<form [formGroup]="routeDetailsForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title>ROUTE DETAILS</mat-card-title>
        </mat-card-header>
      </div>
      <div class="col" *ngIf="addStatus != 'true'">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon"
          class="d-block mr-0 ml-auto" onClick="history.back()" style="margin-left: auto;">
            <span class="material-icons" style="color: white;">exit_to_app</span>
          </button>
        </mat-card-header>
      </div>
    </div><br>
    <mat-card-content >

      <div class="row">
          <div class="col">
          <mat-form-field class="full-width">
              <mat-select placeholder="Customer Name" formControlName="customerId">
                <mat-form-field class="full-width">
                  <div class="row">
                    <input matInput (input)="filterCustomer($event)" placeholder="Search">
                  </div>
                </mat-form-field>
                <mat-option *ngFor="let item of filteredCustomer" [value]="item.id">
                    {{item.name}}
                </mat-option>
                &nbsp;&nbsp; &nbsp;&nbsp;<span *ngIf="filteredCustomer.length === 0" class="material-icons" style="font-size: 30px; color: rgb(0, 128, 55);" (click)="addCustomer()">playlist_add</span>
              </mat-select>
              <mat-error *ngIf="routeDetailsForm.controls['customerId'].hasError('required')">
                field is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          </div>

          <div class="col">
          <mat-form-field class="full-width">
              <mat-select placeholder="Route Name" formControlName="routeId">
                <mat-form-field class="full-width">
                  <div class="row">
                    <input matInput (input)="filterRoute($event)" placeholder="Search">
                  </div>
                </mat-form-field>
                <mat-option *ngFor="let item of filteredRoute" [value]="item.id">
                    {{item.routeName}}
                </mat-option>
                &nbsp;&nbsp; &nbsp;&nbsp;<span *ngIf="filteredRoute.length === 0" class="material-icons" style="font-size: 30px; color: rgb(0, 128, 55);" (click)="addRoute()">playlist_add</span>
              </mat-select>
              <mat-error *ngIf="routeDetailsForm.controls['routeId'].hasError('required')">
                field is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="number" placeholder="Route Index" formControlName="routeIndex">
              <mat-error *ngIf="routeDetailsForm.controls['routeIndex'].hasError('required')">
                field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>



    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="addStatus != 'true'" mat-raised-button  type="submit" [disabled]="!routeDetailsForm.valid">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>&nbsp;&nbsp;
      <button *ngIf="addStatus === 'true'" mat-raised-button  type="button" [disabled]="!routeDetailsForm.valid" (click)="editFunction()">
        <span class="material-icons" style="font-size: 30px;">edit_note</span>
      </button>&nbsp;&nbsp;

      <button mat-raised-button *ngIf="addStatus === 'true'" type="button" class="cancel-button" (click)="onCancelClick()">
        <mat-icon style="font-size: 25px;">cancel_presentation</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>


<br><mat-card *ngIf="addStatus != 'true'">
<mat-card-header>
  <mat-card-title style="color: green;">ROUTE DETAILS</mat-card-title>
</mat-card-header>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table class="styled-table">
  <thead>
      <tr>
          <th>id</th>
          <th>Route Name</th>
          <th>Cutomer</th>
          <th>Index</th>
          <th>Status</th>
          <th>Manage</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let element of filtered">
          <td [style.background-color]="element.status == false ? 'pink' : null">{{element.id}}</td>
          <td [style.background-color]="element.status == false ? 'pink' : null">{{element.route.routeName}}</td>
          <td [style.background-color]="element.status == false ? 'pink' : null">{{element.customer.name}}</td>
          <td [style.background-color]="element.status == false ? 'pink' : null">{{element.routeIndex}}</td>
          <td [style.background-color]="element.status == false ? 'pink' : null">
            <mat-slide-toggle [(ngModel)]="element.status" [ngModelOptions]="{standalone: true}" (change)="onToggleChange($event, element.id)"></mat-slide-toggle>
          </td>
          <td [style.background-color]="element.status == false ? 'pink' : null">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
            <i  (click)="editDetails(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
            &nbsp;&nbsp;
            <i  (click)="deleteDetails(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
          </td>
      </tr>
  </tbody>
</table>
<mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
(page)="onPageChange($event)" [pageSizeOptions]="[10, 20,30,40,50,100]">
</mat-paginator>
</mat-card>
