<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Wright Aero Components </title>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

<section class="home-section">
  <!-- <div class="home-section"> -->
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="color: blue">Pending RFQ</div>
            <div class="number">{{ pendingRfqs }}</div>
            <div class="indicator">
              <!-- <i class='bx bx-up-arrow-alt'></i> -->
              <!-- <span class="text">Up from yesterday</span> -->
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="color: blue">Total Sales</div>
            <div class="number">{{ saleCount }}</div>
            <div class="indicator">
              <!-- <i class='bx bx-up-arrow-alt'></i> -->
              <!-- <span class="text">Up from yesterday</span> -->
            </div>
          </div>
          <i class='bx bxs-cart-add cart two'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="color: blue">Total Quots</div>
            <div class="number">{{ quotCount }}</div>
            <div class="indicator">
              <!-- <i class='bx bx-up-arrow-alt'></i> -->
              <!-- <span class="text">Up from yesterday</span> -->
            </div>
          </div>
          <i class='bx bx-cart cart three'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic" style="color: blue">Total Stocks</div>
            <div class="number">{{stockCount}}</div>
            <div class="indicator">
              <!-- <i class='bx bx-down-arrow-alt down'></i> -->
              <!-- <span class="text">Down From Today</span> -->
            </div>
          </div>
          <i class='bx bxs-cart-download cart four'></i>
        </div>
      </div>
  
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Sales</div>
          <div class="button">
            <a href="#">See All</a>
          </div>
          <div class="sales-details">
            <table class="sales-table" style="width: 100%;">
              <thead>
                <tr class="topic">
                  <th>Date</th>
                  <th>Customer</th>
                  <th>Sales</th>
                  <th>Total</th>
                </tr>
              </thead>
              <br>
              <tbody>
                <tr *ngFor="let item of sales">
                  <td>{{ item.invoiceDate }}</td>
                  <td>{{ item.shippingAddress }}</td>
                  <td>{{ item.saleNo }}</td>
                  <td>{{ item.NetTotal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Top Selling Parts</div>
          <br>
          <table class="top-sales-table" style="width: 100%;">
            <thead>
              <tr class="product">
                <th>Parts</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of topSellingParts">
                <td class="product">{{ item.partDetails.partNumber }}</td>
                <td class="price">{{ item.totalQuantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- </div> -->
  
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>


</body>
</html>
