*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login{
    height: 100vh;
    background: url(/assets/img/oachira_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 8px;
    background-color: white;
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    width: 330px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f7;
}

input{
    padding: 10px 36px;
    margin: 5px;
    width: 210px;
}

.lgn{
    margin-top: 30px;
    margin-bottom: 30px;
}

#login{
    padding: 12px 46px;
    text-decoration: none;
    background: linear-gradient(to right,blueviolet, rgb(184, 2, 169));
    color: white;
}

#pass{
    margin-bottom: 10px;
}

#signup{
    padding: 10px 46px;
    text-decoration: none;
    color: black;
    border: 2px solid silver;
}

#fgpass{
    text-decoration: none;
    color: purple;
}

#loginBtn{
    padding: 10px 120px;
    text-decoration: none;
    background: linear-gradient(to right,blueviolet, rgb(184, 2, 169));
    color: black;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#loginBtn:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.sgnUp{
    display: flex;
}

#member{
    margin-right: 5px;
}

#sgn_now{
    text-decoration: none;
    color: purple;
}
