.nav_main{
  position: relative;
  margin: 0px 0px 0px auto;
  margin-right: 10px;
  float: left;
  display: flex;
}

.nav_username{
  position: relative;
  // margin-right: 5px;
  // margin-left: 20px;
  float: right;
  // display: flex;
}

// .search-box input[type="text"]::placeholder {
//   /* Your placeholder styles here */
//   color: #999; /* Placeholder text color */
//   // font-style: italic; /* Placeholder text style */
//   font-family: Arial, sans-serif; /* Change the font family */
// }

// .top-navbar {
//   background-color: #fff; /* Set your desired background color */
//   height: 64px; /* Set the height of the top navbar as needed */
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

// }

// .top-navbar-menu {
//   display: flex;
//   list-style: none;
//   margin: 0;
// }

// .mat-list-item {
//   margin-right: 16px; /* Adjust the spacing between menu items */
// }


// .bg-blue-900{
//   padding-top:10px;
//   padding-right: 10px;
//   padding-left: 0px;
// }
// .button-container {
//   display: flex;
//   justify-content: space-between; /* Equal distance between buttons */
//   align-items: center; /* Center vertically within the container */
// }

// .button-container button {
//   display: flex;
//   align-items: center; /* Center horizontally within each button */
//   color: rgb(10, 111, 189); /* Text color for buttons */
//   margin-right: 6px; /* Spacing between icons and text */
// }

// .button-container button .material-icons {
//   font-size: 25px;
// }


// .menu-button:hover + mat-menu {
//   display: block;
// }

// .mat-menu-panel {
//   display: none;
//   position: absolute;
// }

// .search-box{
//   position: relative;
//   height: 50px;
//   max-width: 550px;
//   width: 100%;
//   margin: 0 20px;
// }
//  .search-box input{
//   height: 100%;
//   width: 100%;
//   outline: none;
//   background: #F5F6FA;
//   border: 2px solid #EFEEF1;
//   border-radius: 6px;
//   font-size: 18px;
// }
// .search-box .bx-search{
//   position: absolute;
//   height: 40px;
//   width: 40px;
//   background: #068938;
//   right: 5px;
//   top: 50%;
//   transform: translateY(-50%);
//   border-radius: 4px;
//   line-height: 40px;
//   text-align: center;
//   color: #fff;
//   font-size: 22px;
//   transition: all 0.4 ease;
// }

// .imgs{
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   height: 100%;
//   justify-content: space-evenly;
// }

// .sidenav-container {
//   background-color: white;
// }



// ////
// ///
// /* Style for the dropdown container */
// .dropdown {
//   position: relative;
//   display: inline-block;
// }

// /* Style for the dropdown button */
// .dropbtn {
//   color: white;
//   padding: 10px;
//   border: none;
//   cursor: pointer;
// }

// /* Style for the dropdown content (hidden by default) */
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 60px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// /* Style for the list items in the dropdown */
// .dropdown-content a {
//   display: block;
//   padding: 10px 10px;
//   text-decoration: none;
//   color: black;
// }

// /* Change the background color of the dropdown content on hover */
// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// /* Show the dropdown content when hovering over the dropdown button */
// .dropdown:hover .dropdown-content {
//   display: block;
// }


// _____________________________________________________________________________

// .desktop-route-sale-child {
//   top: 100px;
//   background-color: #f0efee;
//   height: 100%;
// }

// .background,
// .bottom-bar-child,
// .desktop-route-sale-child {
//   position: absolute;
//   width: 100%;
//   right: 0;
//   left: 0;
// }

// .background {
//   height: 5.86%;
//   top: 94.14%;
//   bottom: 0;
//   background: linear-gradient(0deg, #014f43, #b0c8c5);
// }

// .bottom-bar-child {
//   top: 0;
//   max-width: 100%;
//   overflow: hidden;
//   height: 0;
//   display: none;
// }
// .support-infocarvingsoftcom {
//   position: absolute;
//   bottom: 1.5px;
//   left: 3.5px;
//   line-height: 130%;
//   font-weight: 300;
//   white-space: pre-wrap;
//   display: flex;
//   align-items: center;
//   width: 314px;
// }
// .powered-by {
//   position: absolute;
//   right: 3.5px;
//   bottom: 0;
//   font-size: 16px;
//   line-height: 130%;
//   text-align: right;
// }
// // .bottom-bar {
// //   position: absolute;
// //   height: 2.44%;
// //   width: 90.28%;
// //   top: 94.24%;
// //   right: 4.86%;
// //   bottom: 3.32%;
// //   left: 4.86%;
// // }
// .logo-icon {
//   position: absolute;
//   top: 33px;
//   left: calc(50% - 650px);
//   width: 90px;
//   height: 90px;
//   object-fit: cover;
//   display: none;
// }
// .desktop-route-sale-item,
// .oachira-logo-1 {
//   position: absolute;
//   top: 50px;
//   left: 78px;
//   width: 140px;
//   height: 60px;
// }
// .oachira-logo-1 {
//   top: 10px;
//   left: 70px;
//   width: 250px;
//   height: 50px;
//   object-fit: cover;
// }
// .search-icon {
//   width: 37px;
//   position: relative;
//   height: 25px;
//   overflow: hidden;
//   flex-shrink: 0;
// }
// .home {
//   position: relative;
//   line-height: 130%;
// }
// .search-parent {
//   width: 145px;
//   height: 37px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   color: #684800;
// }
// .home1 {
//   position: relative;
//   line-height: 130%;
//   font-weight: 600;
// }
// .instance-parent,
// .search-group {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

// .search-group {
//   width: 145px;
//   height: 37px;
//   align-items: center;
// }
// .instance-parent {
//   position: absolute;
//   width: calc(100% - 140px);
//   top: 60px;
//   right: 70px;
//   left: 70px;
//   align-items: flex-start;
//   gap: 20px;
//   font-size: 15px;
//   color: #012b25;
//   font-family:Arial, Helvetica, sans-serif;
// }
// .desktop-route-sale-inner {
//   position: absolute;
//   top: 10px;
//   right: 0;
//   border-radius: 10px 0 0 10px;
//   background-color: rgba(238, 240, 240, 0.4);
//   width: 200px;
//   height: 43px;
// }
// .ellipse-icon {
//   position: absolute;
//   top: 33px;
//   right: 88px;
//   border-radius: 50%;
//   width: 90px;
//   height: 90px;
//   object-fit: cover;
// }
.vector-icon {
  width: 25.3px;
  position: relative;
  height: 26px;
  color:#060501;
}

.vector-icon:hover{
  color: #ca7f46;
  font-weight: bolder;
  cursor: pointer;
  // font-size: 50px;
}

.vector-parent {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 21px;
}
// .desktop-route-sale {
//   width: 100%;
//   position: relative;
//   background-color: #517a75;
//   height: 1024px;
//   overflow: hidden;
//   text-align: left;
//   font-size: 14px;
//   color: #d0ceca;
//   font-family: Inter;
// }
// .bottom-overlay-background,
// .top-overlay-background {
//   position: absolute;
//   height: 43.06%;
//   width: 100%;
//   top: 56.94%;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border-radius: 0 0 30px 30px;
//   background-color: #d9d9d9;
//   box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
// }
// .top-overlay-background {
//   height: 60.35%;
//   top: 0;
//   bottom: 39.65%;
//   border-radius: 30px;
//   background-color: #fff;
// }
// .enter-item-name {
//   position: relative;
// }
// .enter-item-name-wrapper,
// .product-name-wrapper {
//   position: absolute;
//   background-color: #fff;
//   overflow: hidden;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   box-sizing: border-box;
// }
// .enter-item-name-wrapper {
//   height: 88.37%;
//   width: 101.83%;
//   top: 15.12%;
//   right: -0.91%;
//   bottom: -3.49%;
//   left: -0.91%;
//   border-radius: 15px;
//   border: 3px solid #274991;
//   justify-content: center;
//   padding: 27px 40px;
// }
// .product-name-wrapper {
//   top: calc(50% - 43px);
//   left: 40px;
//   height: 27px;
//   justify-content: flex-start;
//   padding: 0 6px;
//   text-align: left;
//   color: #000;
// }
// .compo-product-name {
//   width: 328px;
//   position: relative;
//   height: 86px;
// }
// .frame-seach-overlay-top {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 371px;
//   height: 478px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 10px 0;
//   box-sizing: border-box;
//   gap: 27px;
// }
// .div,
// .instance-child {
//   position: absolute;
//   height: 99.17%;
//   width: 100%;
//   left: 0;
// }
// .instance-child {
//   top: 0;
//   right: 0;
//   bottom: 0.83%;
//   border-radius: 30px;
//   background-color: #fff;
// }
// .div {
//   top: 0.83%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .rectangle-parent {
//   width: 60px;
//   position: relative;
//   height: 60.5px;
// }
// .instance-container,
// .instance-group,
// .instance-parent1 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: flex-start;
//   gap: 23px;
// }
// .instance-container,
// .instance-parent1 {
//   top: 70.5px;
// }
// .instance-parent1 {
//   top: 141px;
//   gap: 21px;
// }
// .frame-calculator-numbers {
//   width: 309px;
//   position: relative;
//   height: 201.5px;
// }
// .compo-add-to-basket-child {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border-radius: 15px;
//   background-color: linear-gradient(0deg, #014f43, #b0c8c5);
//   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
// }
// .add-to-basket {
//   position: absolute;
//   width: 66.68%;
//   top: 16.67%;
//   left: 16.59%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .compo-add-to-basket {
//   width: 328px;
//   position: relative;
//   height: 60px;
//   color: #2f2e2e;
// }
// .frame-calculator-overlay-botto {
//   position: absolute;
//   top: 482px;
//   left: 0;
//   width: 371px;
//   height: 310px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 10px 0;
//   box-sizing: border-box;
//   gap: 17px;
//   font-size: 30px;
//   color: #000;
// }
// .search-overlay-grounp {
//   position: absolute;
//   height: 100%;
//   width: 65.2%;
//   top: -3.28%;
//   right: 34.8%;
//   bottom: 3.28%;
//   left: 0;
// }
// .side-bar-shape,
// .subtract-icon {
//   position: relative;
//   width: 197px;
//   height: 43px;
// }
// .side-bar-shape {
//   background-color: #fff;
//   box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
//   height: 86px;
// }
// .search,
// .search-icon8 {
//   position: relative;
//   flex-shrink: 0;
// }
// .search {
//   width: 112px;
//   line-height: 130%;
//   font-weight: 600;
//   display: flex;
//   align-items: center;
// }
// .search-icon8 {
//   width: 37px;
//   height: 37px;
//   overflow: hidden;
// }
// .frame-side-bar-search {
//   color: #000;
// }
// .frame-side-bar,
// .frame-side-bar-fast,
// .frame-side-bar-search {
//   width: 155px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
// }
// .frame-side-bar {
//   position: absolute;
//   top: 34px;
//   left: 372px;
//   width: 197px;
//   flex-direction: column;
//   justify-content: flex-start;
//   gap: 45px;
//   text-align: left;
//   font-size: 24px;
//   color: #fff;
// }
// .frame-product-search {
//   width: 569px;
//   position: relative;
//   height: 792px;
//   max-width: 90%;
//   max-height: 90%;
//   overflow: auto;
//   text-align: center;
//   font-size: 20px;
//   color: rgba(0, 0, 0, 0.2);
//   font-family: Nunito;
// }

// body {
//   margin: 0;
//   line-height: normal;
// }

// .popup-overlay {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   inset: 0;
// }
.content-section{
  min-height: 500px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Poppins', sans-serif;
}

:root{
  --clr: #222327
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}

.navigation{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  margin-right: auto;
  margin-left: 100px;
}

.navigation ul{
  display: flex;
  width: 350px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.navigation ul li:hover a .icon{
  transform: translateY(-20px);
  cursor: pointer;
  //color:#ca7f46;
}

.navigation ul li:hover a .icon:active{
  color:#ca7f46;
}

.navigation ul li a .text{
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
}

.navigation ul li:hover a .text{
  opacity: 1;
  transform: translateY(10px);
}

.indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -22.5px;
  width: 20px ;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px ;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(70px * 0);
}
.navigation ul li:nth-child(2):active ~ .indicator{
  transform: translateX(70px * 1);
}
.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(70px * 2);
}
.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(70px * 3);
}
.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(70px * 4);
}

.sub-menu-1{
  display: none;
}

.navigation ul li:hover .sub-menu-1 {
  display: flex;
  position: absolute;
  background-color: #356960;
  flex-direction: column;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  border-radius: 10px; /* Adjust the value as needed for the desired curvature */
  width: auto; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  // margin-left: 50px;
}

.navigation ul li .sub-menu-1 ul li:hover a .icon{
  transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
}

.navigation ul li .sub-menu-1 ul li:hover a .text{
  opacity: 1;
  transform: translateY(-20px);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  border-radius: 10px;
}


/* Style for the bottom-bar container */
.bottom-bar {
  background: linear-gradient(0deg,#014f43, #b0c8c5);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25); /* Set your desired background color */
  padding: 10px; /* Adjust the padding as needed */
  text-align: center; /* Center-align the content */
}

/* Style for the line-1 image */
.bottom-bar-child {
  width: 50px; /* Set the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Style for the powered-by text */
.powered-by {
  font-size: 14px; /* Set the font size as needed */
  color: #333; /* Set the text color */
}
