<mat-sidenav-container autosize class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(33,142,67); color: white;" >
      <img style="height: 100%;" src="../../../../assets/img/oachira_logo.png" routerLink="home">
     
      <div class="search-box">
        <input type="text" #searchInput placeholder="Search Product">
        <button class='bx bx-search' type="button" (click)="OpenMasterSearchPage(searchInput.value)"></button>
      </div>
      <!-- <div class="nav_main"> -->
        <h6 class="nav_main"> Welcome {{userName}}</h6> &nbsp;&nbsp;
        <span class="material-icons">notifications</span> &nbsp;&nbsp;
        <mat-icon class="nav_username" routerLink="settings">settings</mat-icon> &nbsp;&nbsp;
        <mat-icon class="nav_username" (click)="logout()">power_settings_new</mat-icon> &nbsp;
        <!-- <mat-icon>settings</mat-icon> -->
        <!-- </div> -->
    </mat-toolbar>
    <div class="bg-green-700 button-container" style="background: #068938;">

      <div class="dropdown">
        <button class="dropbtn" [routerLink]="'/admin'"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">home</span><span
            style="color: white; margin-right: 6px;">Home</span></button>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">inventory</span><span
            style="color: white; margin-right: 6px;">PURCHASES</span></button>
        <div class="dropdown-content">
          <a routerLink="purachases/viewpurchaserequest">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Request
          </a>
          <a routerLink="purachases/viewpurchaseorder">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Order
          </a>
          <a routerLink="purachases/purchaseentry"  >
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Entry
          </a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">groups</span><span
            style="color: white; margin-right: 6px;">STOCK</span></button>
        <div class="dropdown-content">
          <a [routerLink]="'company'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Add
          </a>
          <a [routerLink]="'viewCompanies'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            View
          </a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">support_agent</span><span
            style="color: white; margin-right: 6px;">ROUTE</span></button>
        <div class="dropdown-content">
          <a routerLink="sales/viewpicklist" >
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
           Sales Order
          </a>
          <a routerLink="sales/routesale/trip" >
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
           Trip
          </a>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn" [routerLink]="'viewPendingRFQ'">
          <span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">request_quote</span><span
            style="color: white; margin-right: 6px;">COLLECTIONS</span></button>
        <div class="dropdown-content">
          <!-- <a [routerLink]="'viewPendingRFQ'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            CREATE
          </a> -->
          <!-- <a [routerLink]="'viewPendingRFQ'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            VIEW
          </a> -->
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">assignment</span><span
            style="color: white; margin-right: 6px;">DAY BOOK</span></button>
        <!-- <div class="dropdown-content">
          <a [routerLink]="'purchaseOrder'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
         Add
          </a>
          <a [routerLink]="'viewPurchaseOrder'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
         View
          </a>

        </div> -->
      </div>
      <div class="dropdown">
        <button class="dropbtn"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">assignment</span><span
            style="color: white; margin-right: 6px;">C-LEDGER</span></button>
        <!-- <div class="dropdown-content">
          <a [routerLink]="'pe'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Add
          </a>
          <a [routerLink]="'viewPurchaseEntry'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Verify PO
          </a>

        </div> -->
      </div>
      <div class="dropdown">
        <button class="dropbtn"><span class="material-icons"
            style="color:white; font-size: 25px; margin-right: 6px;">assignment</span><span
            style="color: white; margin-right: 6px;">REPORTS</span></button>
        <!-- <div class="dropdown-content">
          <a [routerLink]="'pe'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Add
          </a>
          <a [routerLink]="'viewPurchaseEntry'">
            <span class="material-icons" style="color: rgb(10, 111, 189); font-size: 20px; "></span>
            Verify PO
          </a>

        </div> -->
      </div>
    </div>

   <div class="content-section">
    <router-outlet></router-outlet>
   </div>
  </mat-sidenav-content>
</mat-sidenav-container>
