
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">
    <div class="row" *ngIf="addStatus != 'true'">
      <div class="col">
        <mat-card-header>
          <mat-card-title> COMPANY</mat-card-title>
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-header>
          <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon"
          class="d-block mr-0 ml-auto" onClick="history.back()" style="margin-left: auto;">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-card-header>
      </div>
    </div>
    <mat-card-content >

      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company Name" formControlName="companyName">
            <mat-error *ngIf="companyForm.controls['companyName'].hasError('required')">
              Company Name <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company Code" formControlName="companyCode">
            <!-- <mat-error *ngIf="companyForm.controls['companyCode'].hasError('required')">
              Company code <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Company InCharge" formControlName="companyInChargeId">
              <mat-form-field class="search-field" style="width: 80%;">
                <div class="row">
                  <!-- <mat-icon>search</mat-icon> -->
                  <input matInput (input)="filterUser($event)" placeholder="Search">
                </div>
              </mat-form-field>
              <span *ngIf="filteredUser.length != 0" class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);"
               (click)="addUser()">playlist_add</span>
              <mat-option *ngFor="let item of filteredUser" [value]="item.id">
                {{item.name}}
              </mat-option>
              <mat-option  *ngIf="filteredUser.length === 0" >
                <span class="material-icons" style="font-size: 25px; color: rgb(0, 128, 55);" (click)="addUser()">playlist_add</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="companyForm.controls['companyInChargeId'].hasError('required')">
              companyInChargeId <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>



        <!-- <div class="col">
          <ng-container *ngIf="imageUrl; else noImage">
            <img [src]="imageUrl" alt="Image" title="Image" height="100" width="100" style="margin-top: 50px;"/>
          </ng-container>

          <ng-template #noImage>
            <img src="../../../../../../assets/img/no_image_part.png" alt="Alternative Image" title="Image" height="100" width="100" />
          </ng-template>
          <input *ngIf="!imageUrl" type="file" id="fileInput" (change)="onFileSelected($event)"/>
          <mat-icon *ngIf="imageUrl && !editstatus" style="font-size: 25px;" (click)="clearFileInput()">delete</mat-icon>
          <mat-icon *ngIf="imageUrl && editstatus" style="font-size: 25px;" (click)="deleteImage(imageUrl)">delete</mat-icon>
        </div> -->
      </div>

      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Location" formControlName="locationName">
            <mat-error *ngIf="companyForm.controls['locationName'].hasError('required')">
              Location <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="CounterCount" formControlName="counterCount">
            <mat-error *ngIf="companyForm.controls['counterCount'].hasError('required')">
              Name <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div> -->

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Gst Number" formControlName="gstId">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="apiKey" formControlName="apiKey">
            <!-- <mat-error *ngIf="companyForm.controls['apiKey'].hasError('required')">
              ApiKey <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <mat-checkbox class="example-margin" formControlName="isStore">Is Store?</mat-checkbox> &nbsp;
        <mat-checkbox class="example-margin" formControlName="isWarehouse">Is Warehouse?</mat-checkbox>
      </div>
      <!-- <br><div>
        <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
      </div> -->


    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="!editstatus" mat-raised-button  type="submit" [disabled]="companyForm.pristine || !companyForm.valid ">
        <mat-icon style="font-size: 25px;">save</mat-icon>
      </button>&nbsp;&nbsp;
      <button *ngIf="editstatus" mat-raised-button  type="button" [disabled]="!companyForm.valid" (click)="editFunction()">
        <mat-icon style="font-size: 25px;">edit_note</mat-icon>
      </button>&nbsp;&nbsp;

      <button mat-raised-button *ngIf="addStatus === 'true'" type="button" class="cancel-button" (click)="onCancelClick()">
        <mat-icon style="font-size: 25px;">cancel_presentation</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>

</form>


<!-- --------------------------------------------------------------------------------------------------------------------------- -->

<br><mat-card *ngIf="addStatus != 'true'">
  <mat-card-header>
    <mat-card-title style="color: green;"> COMPANIES</mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div style="overflow-x: auto;">
    <table class="styled-table">
      <thead>
          <tr>
              <th>Id</th>
              <!-- <th>Image</th> -->
              <th>Company Name</th>
              <th>Code</th>
              <th>Location</th>
              <th>Incharge</th>
              <th>GstNo</th>
              <th>Store</th>
              <th>Warehouse</th>
              <th>Url</th>
              <th>Manage</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let element of filtered let i=index">
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.id}}</td>
              <!-- <td [style.background-color]="element.status == false ? 'pink' : null">
                <ng-container *ngIf="element.fileUrl; else alternativeImage">
                  <img
                    src="{{ element.fileUrl }}"
                    style="width: 50px; height: 50px;"
                    (mouseover)="enlargeImage(i, true)"
                    (mouseout)="enlargeImage(i, false)"
                    [ngClass]="{ 'enlarged': isImageEnlarged[i] }"
                  />
                </ng-container>

                <ng-template #alternativeImage>
                  <img src="../../../../../../assets/img/no_image_part.png" alt="Alternative Image" style="width: 50px; height: 50px;" />
                </ng-template>
              </td> -->
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.companyName}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.companyCode}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.locationName}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.companyInCharge.name}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.gstId}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.isStore}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.isWarehouse}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">{{element.apiKey}}</td>
              <td [style.background-color]="element.status == false ? 'pink' : null">
                <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
                <i  (click)="editCompany(element.id)"  class="fa fa-edit" style="font-size: 20px; color:green"></i>
                &nbsp;&nbsp;
                <i  (click)="deleteCompany(element.id)" class="fa fa-trash" style="font-size: 20px; color:red"></i>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
  (page)="onPageChange($event)" [pageSizeOptions]="[10, 20,30,40,50,100]">
</mat-paginator>
</mat-card>
